!!!
%html
	%head
		= haml :in_head
		
	%body
		#container-fluid
		
			= haml :header
				
			/ コンテンツ
			.content-todo
				.row-fluid
					
					/ 左カラム
					.span3
						= haml :bookmark
						
					/ 右カラム
					.span9
						= haml :todo
						
			= haml :footer
			
			= haml :chat